$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px
);

@mixin media-xxxl-min {
    @media all and (min-width: map-get($grid-breakpoints, xxxl)) {
        @content;
    }
}

@mixin media-xxl-min {
    @media all and (min-width: map-get($grid-breakpoints, xxl)) {
        @content;
    }
}

@mixin media-xl-min {
    @media all and (min-width: map-get($grid-breakpoints, xl)) {
        @content;
    }
}

@mixin media-lg-min {
    @media all and (min-width: map-get($grid-breakpoints, lg)) {
        @content;
    }
}

@mixin media-md-min {
    @media all and (min-width: map-get($grid-breakpoints, md)) {
        @content;
    }
}

@mixin media-sm-min {
    @media all and (min-width: map-get($grid-breakpoints, sm)) {
        @content;
    }
}

@mixin media-xs-min {
    @media all and (min-width: map-get($grid-breakpoints, xs)) {
        @content;
    }
}

@mixin media-xxxl-max {
    @media all and (max-width: map-get($grid-breakpoints, xxxl)) {
        @content;
    }
}

@mixin media-xxl-max {
    @media all and (max-width: map-get($grid-breakpoints, xxl)) {
        @content;
    }
}

@mixin media-xl-max {
    @media all and (max-width: map-get($grid-breakpoints, xl)) {
        @content;
    }
}

@mixin media-lg-max {
    @media all and (max-width: map-get($grid-breakpoints, lg)) {
        @content;
    }
}

@mixin media-md-max {
    @media all and (max-width: map-get($grid-breakpoints, md)) {
        @content;
    }
}

@mixin media-sm-max {
    @media all and (max-width: map-get($grid-breakpoints, sm)) {
        @content;
    }
}

@mixin media-xs-max {
    @media all and (max-width: map-get($grid-breakpoints, xs)) {
        @content;
    }
}
